/target
Cargo.lock
**/*.rs.bk
.DS_Store
node_modules
/dist

# private OAuth2
client_secret.json
token_store.json

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
